DATABASE_URL="postgresql://postgres:senha_do_banco@localhost:5432/petbook"
PORT=3001
JWT_SECRET=petbook-secret
CORS_ORIGINS=http://localhost:3000
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret